<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who am I?</h2>
                <hr class="light">
                <p class="text-faded">Tough question. I like to think that I grow and change a little everyday, but I'll do my best to represent myself as accurately and as honestly as possible.</p>
            </div>
        </div>
    </div>
</section>
